<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Show collection of on-sale products
 *
 * @category    Ash
 * @package     Ash_Onsale
 * @copyright   Copyright (c) 2013 August Ash, Inc. (http://www.augustash.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author      August Ash Team <core@augustash.com>
 */
-->
<config>
    <modules>
        <Ash_Onsale>
             <version>1.0.2</version>
             <ashup
                remote="https://s3.amazonaws.com/augustash/mage/ash_onsale-latest.zip" />
        </Ash_Onsale>
    </modules>

    <global>
        <blocks>
            <ash_onsale>
                <class>Ash_Onsale_Block</class>
            </ash_onsale>
        </blocks>
    </global>
</config>
